<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ url('authentication_reset_token', {token: resetToken.token}) }}">{{ url('authentication_reset_token', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>

<p>Cheers!</p>
